@import "./variables";

@mixin wf-menu-surface-base_() {
  .mdc-menu-surface {
    width: 100%;
    box-shadow: none;
  }
}

@mixin wf-remove-mdc-list-padding_() {
  .mdc-list {
    padding: 0;
  }
}

@mixin wf-no-border-radius-top_() {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@mixin wf-no-border-radius-bottom_() {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin wf-disable-mdc-list-ripple-transitions_() {
  :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:before,
  :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded--background-focused:before,
  :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:not(.mdc-ripple-upgraded):after,
  :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:not(.mdc-ripple-upgraded):focus:before,
  :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item:not(.mdc-ripple-upgraded):active:after {
    transition: none;
  }
}
